@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body{
    color: #fff;
    font-family: "Montserrat";
    text-align: center;

}

hr{
    border: 10px solid #202020;
    margin: 0 0;
    opacity: 1;
}

h3{
    font-size: 1.25rem;
}

.section{
    background-color: #111111;
}

/* Title Section */

#title-section{
    padding-bottom: 7%;
}

#title-section .container-fluid{
    padding: 3% 15% 7%;
    text-align: left; 

}

#title-section{
    background-image: url("../images/background.png");
}


.navbar-brand{
    color: #fff;
    font-family: 'Bebas Neue', cursive;
    font-size: 3rem;
}

.container-fluid{
    padding: 3% 15% 7%;
}

.principal-img{
    max-width: 35%;
    position: absolute;
    right: 15%;
}

@media (max-width:1028px) {

    #title-section {
        text-align: center;
    }

    .principal-img {
        position: static;
        max-width: 80%;
        right: 50%;
    }
    
    .big-heading{
        font-size: 2rem;
        line-height: 1.5;
        font-weight: 500;
    }
}

.row{
    margin: 0;
}

.big-heading{
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 500;
}

/* Features section*/

#reextra-padding{
    padding-top: 10%;
}

.features-img{
    max-width: 90%;
}

/* Plans section */

.pricing-column{
    padding: 3% 2%;
}

.card-title{
    font-weight: 400;
}

.heading{
    padding-top: 1rem;
}

/* Trailer section */

.posters{
    max-width: 50%;
    padding-top: 2rem;
}

#streaming{
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 0;
}
